/* Estilos para el tema de alto contraste amarillo y negro */
body {
    background-color: #ffff00; /* Fondo amarillo para la página */
    color: #000; /* Color de texto negro para la página */
}

.formulario-contenedor-ac {
    background-color: #000; /* Fondo negro para el contenedor del formulario */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7); /* Sombra negra alrededor del contenedor */
}

h1 {
    color: #ffff00; /* Color de texto amarillo para el título */
}

label {
    color: #ffff00; /* Color de texto amarillo para las etiquetas */
}

input[type="text"],
input[type="email"],
input[type="date"],
select {
    border: 2px solid #000; /* Borde negro para los campos de entrada */
    background-color: #fffacd; /* Fondo amarillo claro para los campos de entrada */
    color: #000; /* Color de texto negro para los campos de entrada */
}

button {
    background-color: #000; /* Color de fondo negro para el botón */
    color: #ffff00; /* Color de texto amarillo para el botón */
    border: 2px solid #ffff00; /* Borde amarillo para el botón */
}

button:hover {
    background-color: #ffff00; /* Color de fondo amarillo al poder pasar el mouse o ratron  */
    color: #000; /* Color de texto negro al pasar el mouse o raton */
    border-color: #000; /* Color de borde negro al pasar el mopuse */
}
